.admin-page-wrapper{
    margin: 0 11em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
}

.table-user-wrapper{
    grid-row: 1/auto;
    grid-column: 3/13;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 0 50px 0;
}
