.showcase{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.showcase-card{
    width: 18%;
    margin: 1%;
    background-color: #f7f7f7 !important;
    border-radius: 0 0 20px 20px !important;
}