.showcase{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    color: black !important;
}

.showcase-card{
    width: 18%;
    margin: 1%;
    background: linear-gradient(145deg, #f7f7f7, #dadada);
    box-shadow: 2px 2px 6px #22385c , 
            -2px -2px 6px #ffffff;
    background-color: #f7f7f7 !important;
    border-radius: 0 0 20px 20px !important;
}

.showcase-card:hover{
    box-shadow: 5px 5px 8px #22385c , 
            -5px -5px 8px #ffffff;
}

.cardbody{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    color: black;
    color: #4571b9 ;
}

.cardbody a:hover{
    text-decoration: none;
}
