.cart-page-wrapper{
    margin: 0 11em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
    font-family: 'Raleway', sans-serif;
}

.cart-content-wrapper,.checkout-wrapper{
    background-color: white;
    grid-row: 1/auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    background: linear-gradient(145deg, #f7f7f7, #dadada);
    box-shadow: 2px 2px 6px #22385c , 
            -2px -2px 6px #ffffff;
    background-color: #f7f7f7 !important;
    border-radius: 5px;
}

.cart-content-wrapper{
    grid-column: 1/9;
}

.checkout-wrapper {
    grid-column: 9/13;
}

.cart-card-wrapper,.cart-page-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.cart-card-wrapper{
    margin-bottom: 20px;
}

.cart-card-wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-remove-all{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.cart-3rd-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}