.feature-wrapper{
    grid-column: 1/5;
    grid-row: 1/5;
    display: inherit;
    grid-gap: inherit;
}

.feature-bar{
    border-radius: 10px;
    background: linear-gradient(145deg, #f7f7f7, #dadada);
    box-shadow: 3px 3px 8px #22385c , 
            -3px -3px 8px #ffffff;

}