.landingpage-grid{
    margin: 0 11em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
}

.card-promo{
    border: solid 1px black;
    margin-top: 10px;
    grid-row: 5/7;
    grid-column: 1/13;
}

.official-brands{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #4571b9 ;
    text-shadow: 3px 3px 1px rgba(162,184,220,0.75);
    border-radius: 10px;
    margin-top: 10px;
    grid-row: 5/7;
    grid-column: 1/13;
    justify-content: centers;
    background-color: white;
    vertical-align: middle;
    box-shadow: 3px 3px 8px #22385c , 
            -3px -3px 8px #ffffff;
    
    /* align-items: center; */
}


.showcase-wrapper{
    margin-top: 10px;
    grid-row: 7/auto;
    grid-column: 1/13;
    display: flex;
    justify-content: center;
}

.button-load-more-wrapper{
    margin-top: 10px;
    grid-row: auto/auto;
    grid-column: 6/auto;
}
.button-load-more-wrapper Button{
    width: 225px;
}

.carousel-brands-wrapper{
    background: white;
    border-radius: 0 0 10px 10px;
}