.landingpage-grid{
    margin: 0 11em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
}

.card-promo{
    border: solid 1px black;
    margin-top: 10px;
    grid-row: 5/7;
    grid-column: 1/13;
}

.official-brands{
    border: solid 1px black;
    margin-top: 10px;
    grid-row: 7/auto;
    grid-column: 1/13;
    justify-content: centers;
    background-color: white;
    vertical-align: middle;
    /* align-items: center; */
}


.showcase-wrapper{
    margin-top: 10px;
    grid-row: 9/15;
    grid-column: 1/13;
}