.loginpage-wrapper, .login-form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

::placeholder{
    padding-left: 5px;
    color: #0e4fb87a;
}

.login-form-wrapper{
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    background: linear-gradient(145deg, #f7f7f7, #dadada);
    box-shadow: 3px 3px 8px #22385c , 
            -3px -3px 8px #ffffff;
    padding: 25px;
    min-width: 300px;
    margin-top: 10px;
}

.login-input{
    border-radius: 5px;
    box-shadow: 2px 2px 5px #22385c , 
            -2px -2px 5px #ffffff;
    outline: none;
    margin-top: 10px;
    width: 190px;
    transition: 1s;
    text-align: center;
}

.login-input:hover,.login-input:focus{
    width: 250px;
}

.login-button{
    margin: 21px;
    color: #4571b9;
    border-radius: 7px;
    background-color: #f7f7f7;
    outline: none;
}

.login-button,.register-button{
    box-shadow: 2px 2px 4px #162338 , 
    -2px -2px 4px #ffffff;
}

.login-button:active,.register-button:active{
    transform: translateY(2px);
}

.register-button{
    border-radius: 7px;
    padding: 5px;
    border: none;
    background: linear-gradient(145deg, #4571b9, #345385);
    color: #ffffff !important    ;
}

.headline-login{
    font-weight: 700;
    margin: 10px;
    color: #4571b9;
}

.err-wrapper p{
    font-size: small;
    margin: 0;
    text-align: center;
}


