.navbar-wrapper{
    margin-bottom: 25px;
}

.logo a,.button a,.button-login a,.button-register a{
    transition: 1s;
    color: #4571b9 ;
}

.logo{
    font-family: 'Fredoka One', cursive;
    font-size: 38px;
}

.logo,.button:hover,.button-login:hover,.button-register:hover,.button a:hover,.button-login a:hover,.button-register a:hover{
    color: #22385c;
}

.logo a:hover,.logo a:active,.button a,.button-login a,.button-register a{
    text-decoration: none !important;
}

.button:hover,.button-login:hover,.button-register:hover{
    transform: scale(1.1);
}

.button:active,.button-login:active,.button-register:active,.logo{
    transform: translateY(2px);
}

.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 0 8em;
}

.button, .searchbar,.button-login,.button-register{
    padding: 14px 0;
}

.navbar-wrapper{
    background-color: #f7f7f7  ;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
    position: sticky;
    top: 0;
    z-index: 1;
}

.searchbar input, .searchbar button{
    outline: none !important;
}

.searchbar input {
    border-radius: 10px 0 0 10px;
}
.searchbar button{
    border-radius: 0 10px 10px 0;
    
}

