.navbar-wrapper,.nav-items{
    display: flex;
}

.navbar-wrapper{
    background-color: #4571b9 ;
    z-index: -1;
    position: sticky;
    top: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

.logo{
    font-family: 'Fredoka One', cursive;
}

.logo{
    font-size: 38px;
}
