.product-detail-wrapper{
    margin: 0 11em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
    font-family: 'Raleway', sans-serif;
}

.product-detail-wrapper img,.product-detail-texts,.product-detail-count,
.product-detail-price,.product-detail-size,.product-detail-button-wrapper,
.button-buy,.button-add-to-cart{
    background: linear-gradient(145deg, #f7f7f7, #dadada);
    box-shadow: 2px 2px 6px #22385c , 
            -2px -2px 6px #ffffff;
    background-color: #f7f7f7 !important;
    border-radius: 5px;
}

.product-detail-wrapper img{
    grid-row: 1/6;
    grid-column: 1/5;
    border-radius: 5px;
    width: 100%;
    
}

.product-detail-texts{
    background-color: white;
    grid-row: 1/2;
    grid-column: 5/13;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
}

.product-detail-count{
    grid-row: 4/5;
    grid-column: 5/13;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    background-color: white;
    padding: 0 150px 0 150px;
    height: 100px;
}

.product-detail-price{
    grid-row: 2/3;
    grid-column: 5/13;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    background-color: white;
    padding: 0 150px 0 150px;
    height: 100px;
}

.product-detail-size{
    grid-row: 3/4;
    grid-column: 5/13;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.product-detail-button-wrapper{
    grid-row:5/6;
    grid-column: 5/13;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

