table, tr, td, th{
    border: black solid 2px;

}

.table-user-wrapper{
    grid-row: 1/auto;
    grid-column: 3/13;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

