.user-profile-page-wrapper{
    margin: 0 11em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(40px, auto);
    font-family: 'Raleway',sans-serif;
    /* background-color: white; */
}
.edit-profile-header{
    grid-row: 1/3;
    display: flex;
    font-size: 40px;
    grid-column: 3/13;
    padding: 10px 0 0 10px;
    width: 100%;
    background-color: white;
}

.left-nav-wrapper{
    grid-row: 1/auto;
    grid-column: 1/3;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.edit-profile-wrapper{
    grid-row: 2/auto;
    grid-column: 3/13;
    width: 100%;
    background-color: white;
    display: flex;
}

.profile-detail-wrapper,.edit-image-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    padding-bottom: 40px;
}

.transaction-history-wrapper{
    grid-row: 1/auto;
    grid-column: 3/13;
    width: 100%;
    background-color: white;
    display: flex;
}

.transaction-history-wrapper{
    flex-direction: column;
}
.transaction-history-header,.transaction-history-wrapper,.checkout-card-wrapper{
    display: flex;
    justify-content: space-between;
}

.transaction-history-header{
    border: black 1px solid;
}

.transaction-history-wrapper th{
    text-align: center;
}

.dialog-history-wrapper{
    height: auto;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}